Binaries
DerivedDataCache
Intermediate
Saved
Content/ResidentialHouses
ThirdPartyContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/EF_TwinsRoom
Content/EF_Sam
Content/EF_MollyGreg
Content/EF_Lewis
Content/EF_Gus
Content/EF_Grounds
Content/EF_FirstFloor
Content/EF_Edith
Content/EF_Edie
Content/EF_Barbra

