Binaries
DerivedDataCache
Intermediate
Saved
Content/ResidentialHouses
ThirdPartyContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset
*.rar
*.zip
Content/EF_TwinsRoom
Content/EF_Sam
Content/EF_MollyGreg
Content/EF_Lewis
Content/EF_Gus
Content/EF_Grounds
Content/EF_FirstFloor
Content/EF_Edith
Content/EF_Edie
Content/EF_Barbra
Content/z
Content/StarterContent

Content/Maps/Maps/AssetZoo_BuiltData.uasset
Content/Maps/Maps/ResidentialHouses_BuiltData.uasset
Content/Maps/Maps/SubLevels/BackgroundHouses_BuiltData.uasset
Content/Maps/Maps/SubLevels/BackgroundLandscape_BuiltData.uasset
Content/Maps/Maps/SubLevels/Houses_BuiltData.uasset
Content/Maps/Maps/SubLevels/Houses_Outside_BuiltData.uasset
*.zip
Content/Sounds/InHouse_ambient_sfx.uasset
Content/Sound/InHouse_ambient_sfx.uasset
Content/Sound/InHouse_ambient_sfx.wav
Content/Sound/Outside_ambient_Sfx.uasset
Content/Sound/Outside_ambient_Sfx.wav
